@color-youtube-red: #cc181e;
@color-youtube-hover: #222;

.codes() {
  &.error {
    border-color: red;
    color: darkred;
    background-color: indianred;
  }

  &.danger {
    border-color: orangered;
    color: orangered;
    background-color: darkorange;
  }

  &.info {
    border-color: yellow;
    color: tomato;
    background-color: greenyellow;
  }

  &.success {
    border-color: darkgreen;
    color: greenyellow;
    background-color: green;
  }
}

body {
  font-family: arial, sans-serif;
  header#headerBox {
    float: left;
    display: block;
    width: 100%;
    nav#menu {
      ul {
        list-style: none;
        li {
          display: inline-block;
          margin-top: 1%;
        }
      }
      div#identity {
        width: 20em;
        float: left;
        pre#identityDump {
          border-radius: 0;
          color: black;
          //height: 25em;
          width: 24.6em;
          top: 7em;
          display: none;
          overflow: auto;
          background-color: #ccc;
          border-left: 1px solid black;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
          position: absolute;
        }
        span#identityToggle {
          border-radius: 0;
          display: block;
          height: 2.1em;
          width: 100%;
          border: 1px solid black;
          float: left;
          vertical-align: middle;
          cursor: pointer;
          i.fa {
            color: #000;
            float: right;
            font-size: 1.2em;
            padding: 0.35em;
          }
        }
      }
    }
  }
  main#mainBox {
    float: left;
    display: block;
    width: 100%;
    margin-top: 1em;
    form {
      div.form-group {
        input[type=checkbox].form-control {
          width: auto;
        }
      }
    }
    div#container {
      div#left {
        float: left;
      }
      div#right {

      }
    }
  }
  a {
    &.youtubeVideoLink {
      color: @color-youtube-red;
      &:visited, &:focus {
        color: @color-youtube-red;
      }
      &:hover {
        color: @color-youtube-hover;
      }
    }
  }
  div.flashMessage {
    float: left;
    width: 99.8%;
    display: block;
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    top: 0;
    left: 0;
    border: 2px solid;
    .codes();
  }
  div.close {
    float: right;
    cursor: pointer;
    color: red;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 1%;
    opacity: 0.5;
  }
  div#login {
    background-color: #9dbcf6;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
  }
  .red {
    color: red;
  }
  .green {
    color: green;
  }
  .table {
    td {
      overflow: scroll;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    tr {
      &.downloaded {
        td {
          padding: 0;
          background-color: #25a65a;
        }
      }
      &.not_downloaded {
        td {
          padding: 0;
          background-color: #a67260;
        }
      }
    }
  }
}