body {
  font-family: arial, sans-serif;
}
body header#headerBox {
  float: left;
  display: block;
  width: 100%;
}
body header#headerBox nav#menu ul {
  list-style: none;
}
body header#headerBox nav#menu ul li {
  display: inline-block;
  margin-top: 1%;
}
body header#headerBox nav#menu div#identity {
  width: 20em;
  float: left;
}
body header#headerBox nav#menu div#identity pre#identityDump {
  border-radius: 0;
  color: black;
  width: 24.6em;
  top: 7em;
  display: none;
  overflow: auto;
  background-color: #ccc;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
}
body header#headerBox nav#menu div#identity span#identityToggle {
  border-radius: 0;
  display: block;
  height: 2.1em;
  width: 100%;
  border: 1px solid black;
  float: left;
  vertical-align: middle;
  cursor: pointer;
}
body header#headerBox nav#menu div#identity span#identityToggle i.fa {
  color: #000;
  float: right;
  font-size: 1.2em;
  padding: 0.35em;
}
body main#mainBox {
  float: left;
  display: block;
  width: 100%;
  margin-top: 1em;
}
body main#mainBox form div.form-group input[type=checkbox].form-control {
  width: auto;
}
body main#mainBox div#container div#left {
  float: left;
}
body a.youtubeVideoLink {
  color: #cc181e;
}
body a.youtubeVideoLink:visited,
body a.youtubeVideoLink:focus {
  color: #cc181e;
}
body a.youtubeVideoLink:hover {
  color: #222;
}
body div.flashMessage {
  float: left;
  width: 99.8%;
  display: block;
  font-weight: bold;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  top: 0;
  left: 0;
  border: 2px solid;
}
body div.flashMessage.error {
  border-color: red;
  color: darkred;
  background-color: indianred;
}
body div.flashMessage.danger {
  border-color: orangered;
  color: orangered;
  background-color: darkorange;
}
body div.flashMessage.info {
  border-color: yellow;
  color: tomato;
  background-color: greenyellow;
}
body div.flashMessage.success {
  border-color: darkgreen;
  color: greenyellow;
  background-color: green;
}
body div.close {
  float: right;
  cursor: pointer;
  color: red;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 1%;
  opacity: 0.5;
}
body div#login {
  background-color: #9dbcf6;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}
body .red {
  color: red;
}
body .green {
  color: green;
}
body .table td {
  overflow: scroll;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
body table tr.downloaded td {
  padding: 0;
  background-color: #25a65a;
}
body table tr.not_downloaded td {
  padding: 0;
  background-color: #a67260;
}
